body {
    background: url("./new.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-family: 'Bree Serif', serif;
    color: #096B72;
}

body img {
    width: 300px;
    border: 1px solid black;
    transition: width 2s, height 2s, transform 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body img:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
    outline: none !important;
    box-shadow: none !important;
}

button {
    font-family: "Bebas Neue";
}

body .edit {
    transition: width 1s, height 1s, transform 0.3s;
}

body .edit:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    font-size: 120%;
    font-weight: normal;
    color: black;
}

body a,
button,
a:hover,
a:active,
a:visited {
    color: #FF5964;
    text-decoration: none !important;
    outline: none !important;
}